.stats-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: auto;
}

.player {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em 1.5em;
  background: #bbceda;
  color: #31485a;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: bold;
}

.player__points {
  font-size: 2rem;
}

.player__arrow {
  /* Size */
  height: 16px;
  width: 16px;

  background-color: #fff;
  position: absolute;
}

.player__arrow--tc {
  /* Position at the top center */
  left: 50%;
  top: 0px;

  /* Border */
  transform: translate(-50%, -50%) rotate(45deg);
  background-color: #fea112;
}

.player + .player {
  margin-left: 1em;
}

.selected {
  background: #fea112;
  color: white;
}
